body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* #magic_container{
    text-align: center;
    padding: 20px;
    background-color: aqua;
    color: rgb(247, 142, 5);
    margin-bottom: 10px;
} */

/* .box{
    width: 200px;
    height: 100px;
    background-color: chocolate;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 10px;
}

#animate_btn{
    margin-left: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
} */

/* #box{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: aqua;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
} */

/* #box{
    text-align: center;
    background-color: aqua;
    width: 350px;
}

#sampleImage{
    width: 250px;
    height: auto;
} */